/* * {
    margin: 0;
    padding: 0;
}  */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background-color: #01579B; 
    color:#fff; 
    text-align: center;
    padding: 10px;
    
}

header h1 {
    display: inline-block; 
    width: 400px; 
    font-weight: bold;
}

header p {
    display: inline-block; 
    font-weight: 200;
    
    
}

.box-style-1 {
    background-color: #FF9800; 
    text-align: center;
    padding: 5px;
}

section .box-style-2 {
    /* background-color: red; */
    /* height: 200px; */
    width: 960px;
    margin-left: auto;
    margin-right: auto;

}

section div div h3 {
    
    font-size: 36px;
}

div dl dt {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 12px;
    margin-top: 36px;
}

div dl dd {
    margin: 0px;
}

div img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.img {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin-top: 36px;
    
}

.box-style-3 {
    display: inline-block;
    width: 68%;
    
    
}

