/* EXTERN FILE - STYLES FOR INDEX */

/*

  material design palette
  #7B1FA2
  #E1BEE7
  #9C27B0
  #FFFFFF

  #009688
  #212121
  #757575
  #BDBDBD
  #00E676
  #B9F6CA
  #E8F5E9


*/

html {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #00E676;
}

h1 {
  text-transform: uppercase;
}

.container {
  background: #E6DADA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #274046, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #274046, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 960px;
  max-height: 500px;
  width: 100%;
  height: 100%;
  background: #fff;
  /*box-shadow: horizontalDifference veticalDifference blur amplitude color;*/
  /* 
    We use four properties so it ignores amplitude.
    -10 10 6 10 color
    10 10 6 10 color
  */
  box-shadow: 0px 3px 6px #212121, 0px 3px 6px #757575;
  border-radius: 4px;

}

/* .title {
    background: #000;
    color: #fff;
    text-align: center;
    width: 500px;
    border-radius: 10px;
    margin: auto;
    padding: 8px;
    font-size: 30px;
    font-family: cursive;

} */

body {
    background: #F5F5F5;
}

/* IMAGE CONFIGURATION */
.img-death-note {
  width: 150px;
  height: 150px;
}

.img-hsdxd {
  width: 150px;
  height: 150px;
}

.img-sao {
  width: 150px;
  height: 150px;
}

/* P CONFIGURATION */
.p-death-note {
  max-width: 200px;
  text-align: justify;
}

.p-hsdxd {
  max-width: 300px;
  text-align: justify;
}

.paragraph {
  line-height: 1.5em;
  font-weight: 300;
}

.fa-star {
  color: #ffc400;
}

/* TABLE CONFIGURATION */
.table {
  width: 100%;
  border-spacing: 0;
  


}

.table td, .table th {
  padding: 1em;
  text-align: left;
  
}

/* 
  even -> pares.
  odd -> impares.
*/
/*.table tr:nth-child(even) {
  background: #E8F5E9;
}*/

.item-title {
  /* border-bottom-style: solid;
  border-width: 2px;
  border-color: #009688; */
  border-bottom: solid 2px #009688;
  padding-bottom: 1em;
}

.position {
  background-color: #009688;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
}

tr:hover {
  background-color: #E8F5E9;
}

.link:hover {
  color: #009688;
}